/* Existing CSS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

a {
    text-decoration: none;
    color: #fff; /* Default link color */
}

i {
    color: #fff;
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    width: 20px;
}

html,
body {
    background: linear-gradient(#050505, #18181d);
    height: 100vh;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr 2fr; /* Adjust for sidebar width */
    background: linear-gradient(#050505, #18181d);
}

.container .sidebar {
    height: 100vh;
    background-color: #18181d;
    padding: 20px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Added position */
    z-index: 10000; /* Ensure z-index works */
    transition: width all 0.6s ease;
    width: 250px;
}

.container .sidebar:hover {
    width: 300px; /* Change width on hover */
}

.container, .sidebar, .logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.container, .sidebar, .logo {
    font-size: 20px;
    transition: all 0.3s ease;
}

/* New rule to change the color of menu titles to white */
.container .sidebar h5 {
    color: #fff; /* Change the color to white */
}

h4 {
    color: #fff;
}

p {
    color: #fff;
}

.music1 {
    position: relative;
}

.music1 img{
    position: relative;
    top: -10px; /* i need position to modify */
    width: 150px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}


.music1:hover img {
    transform: translateY(-10px);
}