@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #fff;
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

html,
body {
    background: linear-gradient(#050505, #050505);
}

.container {
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 4fr 2fr;
}